# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
.venv/
venv/
env/

# Base de datos local
db.sqlite3

# Archivos generados / temporales
*.log
*.tmp

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno / secretos
.env
.env.*

# Archivos comprimidos
*.zip

# Archivos multimedia subidos por usuarios
files/